html {-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html, body {height: 100%}
body {font-size: 12px;font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;background-color: #F2F4FA;line-height: 1.6;color: #333333;}
html, body, blockquote, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
h1, h2, h3, h4, h5, h6 {font-weight: 400}
button, input, optgroup, option, select, textarea {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;outline: 0}
a {text-decoration: none;outline: 0;color: #333333;word-wrap: break-word;word-break: break-word;}
a:hover {color: #222222;text-decoration: none;}
a cite {font-style: normal;*cursor: pointer}
img {border: none;display: inline-block;vertical-align: middle}
li {list-style: none}
.clearfix {clear: both}
* html .clearfix {zoom: 1;}
*:first-child+html .clearfix {zoom: 1;}
::selection {color: #007aff;}
::-moz-selection {color: #007aff;}
::-webkit-input-placeholder {color: #007aff;}
::-webkit-scrollbar {width: 8px;height: 8px;}
::-webkit-scrollbar-button:vertical {display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {background-color: #e2e2e2;}
::-webkit-scrollbar-thumb {border-radius: 16px;background-color: rgba(0, 0, 0, .1);}
::-webkit-scrollbar-thumb:vertical:hover {background-color: rgba(0, 0, 0, .15);}
::-webkit-scrollbar-thumb:vertical:active {background-color: rgba(0, 0, 0, .15);}
.xs-app {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-text-size-adjust: none;-ms-text-size-adjust: 100%;background: #fff;height: 100%;width: 100%;display: flex;flex-direction: column;}
.wrapper {width: 1200px;margin: 0 auto;max-width: 1200px;box-sizing: border-box;position: relative;}
/*header*/
.xs-header {display: flex;justify-content: space-between;position: relative;background-color: #000000;height: 55px;line-height: 55px;padding: 0 30px;}
.xs-header .slogan {color: #ffffff;height: 55px;position: absolute;left: 230px;font-size: 12px;}
.xs-header-left {position: relative;display: flex;width: 190px;height: 55px;align-items: center;}
.xs-header-left a {color: #9d9d9d;display: flex;align-items: center;height: 40px;}
.xs-header-left .logo {height: 40px;margin-right: 12px;}
.xs-header-nav ul {display: flex;align-items: center;justify-content: space-around;}
.xs-header-nav ul li {position: relative;margin-right: 30px;margin-left: 30px;font-size: 14px;height: 55px;line-height: 55px;text-align: center;cursor: pointer;}
.xs-header-nav a {color: #9d9d9d;}
.xs-header-nav a:hover {color: #ffffff;}
/*banner*/
.xs-banner {height: 400px;background-color: #000000;position: relative;}
.xs-banner::after {content: '';width: 100%;height: 30px;position: absolute;left: 0;bottom: 0;background-image: url(../images/bg_banner.png);background-position: center;background-repeat: no-repeat;}
.xs-banner-title {width: 100%;height: 220px;text-align: center;}
.xs-banner-title h1 {padding-top: 110px;font-size: 45px;font-family: Playball, cursive;font-weight: 700;color: #fff;animation: fade-in-down .5s both;text-shadow: 0 3px 6px rgba(0, 0, 0, .3);}
.xs-banner-title h2 {margin-top: 15px;font-size: 20px;font-family: Playball, cursive;font-weight: 700;color: #fff;animation: fade-in-down .5s both;animation-delay: .5s;text-shadow: 0 3px 6px rgba(0, 0, 0, .3);}
/*xs-about*/
.xs-about {position: relative;padding: 30px;box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);overflow: hidden;background: #FFFFFF;margin-top: -80px;border-radius: 6px;}
.xs-about-avatar {float: left;width: 150px;height: 200px;border-radius: 6px;background-color: #000000;box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);}
.xs-about-avatar img {width: 150px;height: 200px;border-radius: 6px;}
.xs-about-info {float: left;width: 485px;margin: 0 30px;padding-right: 30px;border-right: 1px #e5e5e5 solid;}
.xs-about-info h2 {font-size: 35px;font-weight: bold;font-family: 'Long Cang', serif;}
.xs-about-info h3 {color: #007aff;font-size: 12px;margin-bottom: 15px;}
.xs-about-info h3 span {margin-right: 10px;}
.xs-about-info p {font-size: 14px;line-height: 25px;}
.xs-about-contact {float: right;width: 410px;padding: 15px 0;text-align: left;}
.xs-about-contact ul li {float: left;width: 50%;font-size: 14px;line-height: 23px;margin-bottom: 10px;}
.xs-about-contact ul li span {color: #999999;font-size: 12px;display: block;text-transform: uppercase;}
.xs-about-contact ul li:nth-child(5), .xs-about-contact ul li:nth-child(6) {margin-bottom: 0;}
.xs-about-interest {position: absolute;bottom: 0;right: 10px;font-size: 12px;}
.xs-about-interest span {display: inline-block;color: #666666;background-color: #EEEEEE;padding: 3px 10px;margin: 0 6px;border-radius: 6px 6px 0px 0px;}
/*navigation*/
.xs-navigation-item {margin-bottom: 15px;}
.xs-navigation-item a {display: flex;border-radius: 6px;background-color: #ffffff;will-change: transform;transform: translateY(0px);transition: all .3s ease;padding: 10px;overflow: hidden;box-shadow: rgb(163 177 198 / 50%) 12px 12px 24px 0px, rgb(255 255 255) -12px -12px 24px 0px;}
.xs-navigation-item a:hover {transform: translateY(-6px);}
.xs-navigation-item .img {width: 50px;height: 50px;border-radius: 6px;background: rgba(128, 128, 128, .1);flex: none;align-items: center;justify-content: center;}
.xs-navigation-item .img img {width:calc(100% - 20px);height: calc(100% - 20px);margin:10px;}
.xs-navigation-item .info {margin-left: 10px;overflow: hidden;display: block;flex: 1 1 auto;}
.xs-navigation-item .info h1 {font-weight: bold;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;line-height: 27px;}
.xs-navigation-item .info p {color: #999999;font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}
/*title*/
.xs-title {width: 100%;padding: 20px 0px;text-align: center;clear: both;}
.xs-title-txt {display: inline-block;font-size: 28px;position: relative;height: 45px;line-height: 45px;}
.xs-title-txt::before {left: -66px;}
.xs-title-txt::after {right: -66px;}
.xs-title-txt::before, .xs-title-txt::after {content: '';display: block;position: absolute;width: 40px;height: 1px;background: #ccc;top: 22px;}
.xs-desc {display: block;font-size: 16px;color: #818181;height: 35px;line-height: 35px;}
/*footer*/
.xs-footer {margin-top: 40px;padding: 50px 0 40px 0;overflow: hidden;background: url(../images/bg_footer.png) no-repeat top center #222222;}
.xs-footer-left {float: left;width: 290px;text-align: center;overflow: hidden;padding-top: 20px;}
.xs-footer-left p.telephone {font-family: Verdana;height: 30px;line-height: 30px;font-size: 23px;color: #ffffff;}
.xs-footer-left p {height: 35px;line-height: 35px;color: #AAAAAA;font-size: 12px}
.xs-footer-right {float: left;overflow: hidden}
.xs-footer-right dl {float: left;border-left: 1px #353535 solid;padding-left: 50px;padding-right: 110px;}
.xs-footer-right dl dt {height: 35px;line-height: 35px;font-size: 15px;font-weight: bold;color: #ffffff;}
.xs-footer-right dl dd {height: 25px;line-height: 25px;font-size: 12px;}
.xs-footer-right dl dd a {color: #999999;}
.xs-footer-right dl dd a:hover {color: #007aff}
.xs-footer-copyright {font-size: 12px;height: 50px;line-height: 50px;text-align: center;background: #000000;color: #999999}
.xs-footer-copyright a {color: #999999}
.xs-footer-copyright a:hover {color: #007aff}
/*table*/

.table td, .table th {padding:10px;font-size: 14px;}
.table td a{color: #007aff;}

.title{font-size:23px;padding:20px 0 5px 0}