@import url("https://at.alicdn.com/t/c/font_3275797_6fg96trc2l6.css");
@import url('../../framework/css/normalize.css');
*{margin: 0;    padding: 0;box-sizing: border-box;}
html, body {margin: 0;padding: 0;width: 100%;height: 100%;}
body {font-family: "Microsoft YaHei", "微软雅黑", "Arial", "Helvetica"}
.hidden{display: none;}
.container {width: 100%;height: 100%;position: relative;}
.container .itemBox {position: relative;white-space:nowrap;width: 100%;height:230px}
.container .itemBox .item{ display: inline-block;height: 230px;font-size: 0;}
.container .itemBox .item .img{width: 100%;height: 100%;}
.container .itemBox .item .img img {width: 100%;height: 100%;}

/*控制器*/
.control {position: fixed;right: 2rem;bottom: 2rem;width: 14rem;height: 14rem;}
.control .iconfont {font-size: 2.5rem;}
.control .up {background-color: #ffffff;border-radius: 0.6rem;position: absolute;top: 0;left: 50%;margin-left: -2rem;width: 4rem;height: 4rem;line-height: 4rem;text-align: center;transform: rotate(0deg);}
.control .right {background-color: #ffffff;border-radius: 0.6rem;position: absolute;top: 50%;right: 0;margin-top: -2rem;width: 4rem;height: 4rem;line-height: 4rem;text-align: center;transform: rotate(90deg);}
.control .down {background-color: #ffffff;border-radius: 0.6rem;position: absolute;bottom: 0;left: 50%;margin-left: -2rem;width: 4rem;height: 4rem;line-height: 4rem;text-align: center;transform: rotate(180deg);}
.control .left {background-color: #ffffff;border-radius: 0.6rem;position: absolute;top: 50%;left: 0;margin-top: -2rem;width: 4rem;height: 4rem;line-height: 4rem;text-align: center;transform: rotate(-90deg);}
.control .mid {background-color: #ffffff;border-radius: 4rem;position: absolute;top: 50%;left: 50%;margin-top: -2rem;margin-left: -2rem;width: 4rem;height: 4rem;line-height: 4rem;text-align: center;transform: rotate(90deg);}
