/* iconfont */
@import url("https://at.alicdn.com/t/c/font_3275797_6fg96trc2l6.css");
/* normalize */
@import url("normalize.css");
/* colorUi */
@import url("custom.css");
/* common */
@import url("style.css");