@import url("https://at.alicdn.com/t/c/font_3275797_6fg96trc2l6.css");

* {
    padding: 0;
    margin: 0
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}