html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #f1f1f1;
	font-size: 14px;
	color: #333333;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

.xs-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
	background-color: #5F68E8;
}

.xs-header .title {
	position: absolute;
	right: 40px;
	left: 40px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}

.xs-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50px;
	height: calc(100% - 50px);
	background-color: #000000;
}

.xs-content .message {
	color: #ffffff;
}
.xs-content .result{
	width: 100%;
	    height: 80px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    text-align: center;
	    color: #ffffff;
}