@import url("https://at.alicdn.com/t/c/font_3275797_6fg96trc2l6.css");@import url('../../framework/css/normalize.css');* {margin: 0;padding: 0;box-sizing: border-box;}
html, body {margin: 0;padding: 0;width: 100%;height: 100%;}
body {font-family: "Microsoft YaHei", "微软雅黑", "Arial", "Helvetica"}
.scroll-container {width: 500px;height: 300px;overflow: hidden;position: relative;}
.scroll-content {position: absolute;top: 0;left: 0;}
.scroll-content img {display: block;float: left;width: 100%;height: 100%;}
