html {-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html, body {height: 100%}
body {font-size: 12px;font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;background-color: #F2F4FA;line-height: 1.6;color: #333333;}
html, body, blockquote, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
h1, h2, h3, h4, h5, h6 {font-weight: 400}
button, input, optgroup, option, select, textarea {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;outline: 0}
a {text-decoration: none;outline: 0;color: #333333;word-wrap: break-word;word-break: break-word;}
a:hover {color: #222222;text-decoration: none;}
a cite {font-style: normal;*cursor: pointer}
img {border: none;display: inline-block;vertical-align: middle}
li {list-style: none}
.clearfix {clear: both}
* html .clearfix {zoom: 1;}
*:first-child+html .clearfix {zoom: 1;}
::selection {color: #007aff;}
::-moz-selection {color: #007aff;}
::-webkit-input-placeholder {color: #007aff;}
::-webkit-scrollbar {width: 8px;height: 8px;}
::-webkit-scrollbar-button:vertical {display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {background-color: #e2e2e2;}
::-webkit-scrollbar-thumb {border-radius: 16px;background-color: rgba(0, 0, 0, .1);}
::-webkit-scrollbar-thumb:vertical:hover {background-color: rgba(0, 0, 0, .15);}
::-webkit-scrollbar-thumb:vertical:active {background-color: rgba(0, 0, 0, .15);}
/*menu*/
.menu {position: absolute;bottom: 20px;width: 100%;text-align: center;}
.menu button {color: #7fffff;background: transparent;border: 1px #7fffff solid;padding: 5px 10px;margin: 0 5px;cursor: pointer;}
/**/
.element {width: 160px;height: 90px;cursor: default;}
.element img{width: 100%;height: 100%;}